body {
  margin: 0px;
  background-color: navajowhite;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#headline {
  background-color: burlywood;
  width: 100vw;
  padding: 1vh;
  font-size: 4vw;
  text-align: center;

}

.navBar {
  background-color: burlywood;
  width: 100vw;
  height: 20vh;
  position: fixed;
  bottom: 0px;
}

.navButtons {
  background-color: navajowhite;
  font-size: 2vw;
  width: 25vw;
  height: 8vh;
  padding: 1vw;
  text-align: center;
  padding-top: 4vh;
  border-radius: 36px;
  float: left;
  margin: 1vw;
  position: relative;
  left: 25vw;
  top: 1vh;
  border: olivedrab 0.2vw solid;
}

.field1 {
  position: fixed;
  top: 12vh;
  left: 25vw;
  border: olivedrab 1px solid;
  border-radius: 12px;
  height: 25vh;
  width: 50vw;
  background-color: burlywood;
  padding: 4vh;
}

.inputField{
  min-width: 16vw;
  text-align: center;
  border: olivedrab 0.2vw solid;
}

table, td, tr {
  border: 1px, solid, black;
  min-width: 16vw;
  text-align: center;
  
}

.statusMsg {
  position: relative;
  top: 5vh;
  left: 2vw;
  background-color: navajowhite;
  padding: 0.5vw;
  text-align: center;
  width: 30vw;
  height: 4vh;
  border-radius: 12px;
  border: olivedrab 1px solid;
}

button {
  position: relative;
  top: 0vh;
  left: 35vw;
  background-color: olivedrab;
  border-radius: 25px;
  width: 12vw;  
}
/* .userInfo {
  float: left;

  background-color: grey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
}

.userData {
  float: left;
  background-color: grey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
  font-weight: bolder;
}

.questions {
  float: left;
  clear: left;
  background-color: darkgrey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
} */
