body {
  margin: 0px;
  background-color: navajowhite;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#headline {
  background-color: burlywood;
  width: 100vw;
  padding: 1vh;
  font-size: 6vw;
  text-align: center;

}

.navBar {
  background-color: burlywood;
  width: 100vw;
  height: 20vh;
  position: fixed;
  bottom: 0px;
}

.navButtons {
  background-color: navajowhite;
  font-size: 3vw;
  width: 25vw;
  height: 8vh;
  padding: 1vw;
  text-align: center;
  border-radius: 36px;
  float: left;
  margin: 1vw;
  position: relative;
  left: 25vw;
  top: 1vh;
  border: olivedrab 0.2vw solid;
}

.inputField{
  min-width: 16vw;
  text-align: center;
  border: olivedrab 0.2vw solid;
  }

/* .userInfo {
  float: left;

  background-color: grey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
}

.userData {
  float: left;
  background-color: grey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
  font-weight: bolder;
}

.questions {
  float: left;
  clear: left;
  background-color: darkgrey;
  margin: 0.2vw;
  padding: 0.3vw;
  width: initial;
  font-size: 4vh;
} */
